{% extends "WittyWeBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittyorder/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }} - Commandez nos jeux{% endblock %}

{% block content %}
	
	<div id="container">
		{% image '@WittyOrderBundle/Resources/public/images/logo_wittyeditions.png' %}
			<img src="{{ asset_url }}" alt="Witty Editions"/>
		{% endimage %}
		<div class="spacer"></div>
		<div class="titrePage">Bienvenue sur la plateforme de commande des professionnels</div>
		<div class="spacer"></div>
		<div class="filet"></div>
		<div id="colonne">
			<div class="texteGris descriptif_titre">Descriptif</div>
			<div class="texteGris prix_titre">Prix unitaire HT</div>
			<div class="texteGris qt_titre">Quantité</div>
			<div class="texteGris st_titre">Sous-total HT</div>
		</div>
		
		<div class="spacer"></div>
		
		<form id="form_commande" name="commande" method="post" action="{{ path('order_confirmationCommande') }}">
		
			<input type="hidden" id="customerOrders" value=""/>
		
			{% for product in products %}
				<div class="jeu {% if product.stock %} stock {% endif %}">
					<input class="unit_price" type="hidden" value="{{ product.unitPrice }}"/>
					<div class="descriptif">
						<img class="img_jeu" src="{{ url_asset('product', product.id, product.image) }}" alt="{{ product.title }}"/>
						<div class="infos">
							<span class="texte">{{ product.title }}</span><br/>
							<span style="font-style:italic">{{ product.catchphrase }}</span><br/>
							<a href="{{ product.link }}" target="_blank">Voir la fiche du jeu</a>
						</div>
					</div>
					{% if not(product.stock) %}
						<p class="rupture">Désolé, {{ product.title }} est épuisé</p>
					{% else %}
						<div class="prix">
							<div class="texte affichage_prix">{{ product.unitPrice }} €</div>
							<div class="texteGris" style="float:right; margin-right:50px;">x</div>
						</div>
						<div class="qt">
							<div class="champs_nb" style="margin-top:30px">
								<input class="quantity" type="text" name="customerOrders[{{ product.id }}]" value="0">
							</div>
							<div class="modulePlusMoins">
								<a class="btn_plus"></a>
								<a class="btn_moins"></a>
							</div>
							<div class="texteGris" style="float:right; margin-right:50px; margin-top:10px;">=</div>
							
						</div>
						<output class="st texte total">{{ product.unitPrice }} €</output>
					{% endif %}
				</div>
			{% endfor %}
		</form>
		<div class="spacer"></div>

		<div class="filet"></div>
		
		<div id="code_franco">
			<!--
			<div class="codepromo">
				<div class="texteGris" style="float:left; margin-top:10px; margin-right:20px;">Code promotionnel</div>
				<form method="get" action="#" class="champs_codepromo">
					<input type="text" name="nb_jeu" placeholder="Votre code">
				</form>
				<a class="btn_ok"></a>
			</div>
			<div class="spacer"></div>
			-->
			<div class="texteBleu">Le minimum de commande est de 200 € HT</div>
			<div class="texteBleu">Le franco de port est atteint à partir de 300 € HT</div>
		</div>
		
		<div id="calculTotalTexte">
			<div class="texteGris" style="float:right;">Total HT de ma commande</div><br/>
			<!-- <div class="texteGris" style="float:right;">Code promotionnel</div><br/> -->
			<div class="texteGris" style="float:right;">Frais de port</div><br/>
			<!-- <div class="texteGris" style="float:right;">Total HT</div><br/> -->
			<div class="texteTotal" style="float:right;">Total TTC</div>
		</div>
		
		<div id="calculTotalNb">
			<div class="texteGris2 total_panier" style="float:right;">0 €</div><br/>
			<!--<div class="texteGris2 code_promo" style="float:right;">0 €</div><br/> -->
			<div class="texteGris2 frais_port" style="float:right;">0 €</div><br/>
			<!--<div class="texteGris2 total_ht" style="float:right;">0 €</div><br/>-->
			<div class="texteTotal2 total_ttc" style="float:right;">0 €</div>
		</div>
		
		<div class="spacer"></div>
		
		<div class="filet" style="margin-top:30px; margin-bottom:30px;"></div>
		
		<a class="btn_valider"></a>
		
		<div class="spacer"></div>
		
		<div class="filet" style="margin-top:30px; margin-bottom:10px;"></div>
		
		<div id="footer">
			<div class="texteFooter" style="float:left;">Service client :01 43 43 41 68 (prix d'un appel local) - contact@mywittygames.com</div>
			<div class="texteFooter" style="float:right;">© 2012 Witty Editions - Tous droits réservés </div>
			<div class="spacer"></div>
			<a class="texteFooter" style="float:left;display:block;" href="cgv" target="_blank">Voir les CGV</a>
		</div>
		
	</div>

{% endblock %}

{% block javascripts %}
    {% javascripts 'bundles/wittyorder/js/*.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
	
	<script>
		var franco = {{ franco }};
		var montant_frais_port = {{ frais_port }};
		var tva = {{ tva }};

		$(document).ready(function(){

			recalculate();

			$(".btn_plus").click(function (event){

				var input = event.target.parentNode.parentNode.children.item(".champs_nb").children.item(".quantity");
				input.value = parseInt(input.value) + 1;
				recalculate();
			});
			$(".btn_moins").click(function (event){

				var input = event.target.parentNode.parentNode.children.item(".champs_nb .quantity").children.item(".quantity");
				
				if (input.value > 0)
				{
					input.value = parseInt(input.value) - 1;
					recalculate();
				}
			});
			$(".quantity").keyup(function (event){
			
				if ( $(this).attr("value") != "") { recalculate(); }
			});
			
			$('.btn_valider').click(function(){
				$('#form_commande').submit();
			});
		});

		function recalculate()
		{
			var total_ht = 0;
			
			//Calcul du total pour chaque jeu
			$('.jeu.stock').each(function(){
			
				var prix = parseFloat($(this).children('.unit_price').attr("value"));
				var quantity = parseInt($(this).children('.qt').children('.champs_nb').children('.quantity').attr("value"));
				var total_jeu = Math.round(prix * quantity * 100) / 100;
			
				$(this).children('.total').html( (total_jeu) + " €");
				total_ht += total_jeu;
			});
			
			//Calcul des totaux
				//Total du panier
			$(".total_panier").html( total_ht + " €");

				//Frais de port
			var frais_port;
			if (total_ht >= franco) { frais_port = 0; }
			else { frais_port = montant_frais_port; }
			
			$(".frais_port").html( frais_port + " €");

				//Total TTC
			$(".total_ttc").html( (Math.round( (total_ht * (1 + tva) + frais_port ) * 100) / 100) + " €" );
			
		}
		</script>
{% endblock %}