{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittyuser/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}{{ parent() }} - Bienvenue{% endblock %}

{% block content %}

	<div id="container">

		<div class="blocTitrePage">
			<p class="titrePage titrePage_projet">Bienvenue</p>
			<p class="descriptionPage descriptionPage_projet">Identifiez-vous pour accéder au module de commande de Witty Editions</p>
		</div>
		<div>
			<p class="descriptionPage descriptionPage_projet aide_deja_venu">Déjà venu ?</p>
			<p class="descriptionPage descriptionPage_projet aide_pas_inscrit">Pas encore inscrit ?</p>
			<div class="spacer"></div>
		</div>
	
		<div class="bloc">
		
			<a class="titre_popup bloc_titre">S'identifier</a>
			{% if error %}
				<div class="error">{{ error|trans({}, 'FOSUserBundle') }}</div>
			{% endif %}

			<form action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<label for="username">Adresse e-mail ou Nom de la boutique :{# 'security.login.username'|trans({}, 'FOSUserBundle') #}</label>
				<input type="text" class="username" name="_username" value="{{ last_username }}" placeholder="monmail@mail.com" />

				<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
				<input type="password" class="password" name="_password" placeholder="*****" />


				<input type="checkbox" class="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
				
				<a class="texte_popuplogin3" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
				<input type="submit" class="_submit" name="_submit" value=""/>
			</form>
			

		</div>
		
		<div class="bloc bloc2">
			<a class="titre_popup bloc_titre">Inscrire sa boutique</a>
			{# render "WittyUserBundle:Registration:register" #}
			<form action="{{ path('fos_user_security_login') }}" {{ form_enctype(form_register) }} method="POST" class="fos_user_registration_register">
				{{ form_widget(form_register) }}
				{{ form_rest(form_register) }}
				{# <p class="texte_popuplogin5">En vous inscrivant, vous acceptez<br/> nos <a class="conditions" href="{{ path('mwg_cgu') }}">conditions d'utilisation</a></p> #}
				<div>
					<input class="inscrire" type="submit" value="" />
				</div>
			</form>
		</div>
		
		<div class="spacer"></div>
		<div class="blocTitrePage">
			<p class="descriptionPage descriptionPage_projet">Accédez à des conditions préférentielles</p>
			<p class="texte">
				- Franco de port à 300 € HT<br>
				- Colisage à partir d'une boîte<br/>
				- Livraison en 72h<br/>
				- Paiement à 45 jours fin de mois<br/>
			</p>
		</div>
		<div class="blocTitrePage">
			<p class="descriptionPage descriptionPage_projet">Découvrez une interface simple pour passer vos commandes</p>
		</div>
		{% image '@WittyUserBundle/Resources/public/images/apercu_commande.png' %}
			<img src="{{ asset_url }}" alt="Aperçu de l'interface de commande" style="float:right;" />
		{% endimage %}
		<div class="spacer"></div>
		<br/>
		<div class="blocTitrePage">
			<p class="descriptionPage descriptionPage_projet">Inscrivez-vous maintenant sur cette page pour accéder à l'interface</p>
		</div>
		<div class="spacer"></div>

	</div>

{% endblock content %}
